#feeds {
	width:100%;
}
img.rrfeed {
	width:30%;
	max-width:640px;
	height:auto;
}
img.earthfeed {
	width:30%;
	max-width:640px;
	height:auto;
}
span.logbook {
	width:30%;
	float:right;
}
h2.logtitle {
	text-align:center;
	color:white;
}
#controls {

}
#drivecontrols {

}
#logcontrols {

}
