.rrfeed {
	width:100%;
	max-width:640px;
	height:auto;
}
.earthfeed {
	width:100%;
	max-width:640px;
	height:auto;
}
.feeds {
	border-radius:10px;
	background-color:#111111;
	width:45%;
	max-width:640px;
	height:auto;
	float:left;
	padding:20px;
}
.vline {
	width:5%;
	height:100%;
	float:left;
}
.hline {
	height:5%;
	width:auto;
}
.right {
	float:right;
	width:45%;
}
.float {
	background-color:#111111;
	border-radius:10px;
	padding:5px 20px 20px;
	height:auto;
	width:100%;
	float:right;
}
.slider {
	width:50%;
	height:auto;
}
.text {
	color:white;
}
.head {
	color:white;
}
.controls {
	height:50%;
	width:auto;
	margin:auto;
}
.drivecontrols {
	margin-left:auto;
	margin-right:auto;
}
.logs {
	color:white;
	border:5px solid #444444;
}	
.dpad {
	margin: auto;
	width: 180px;
	border-radius: 10px;
	font-size: 0; /* Used to fix space between arrows */
}
.arrow {
	display: inline-block;
	width: 50px; height: 50px;
	background-size: contain;
	margin: 5px;
}

#up {
	background-image: url(img/arrow.png);
	margin: 5px 65px;
	transform: rotate(90deg);
}
#left {
	background-image: url(img/arrow.png);
	/* transform: rotate(120deg); */
}
#stop {
	background-image: url(img/middle.png);
}
#right {
	background-image: url(img/arrow.png);
	transform: rotate(180deg);
}
#down {
	margin: 5px 65px;
	background-image: url(img/arrow.png);
	transform: rotate(-90deg);
}