.rrfeed {
	width:auto;
	max-height:480px;
	height:50%;
}
.earthfeed {
	width:auto;
	max-height:480px;
	height:50%;
}
.feeds {
	border-radius:10px;
	background-color:#111111;
	width:auto;
	max-width:680px;
	height:auto;
	float:left;
	padding:20px;
}
.controls {
	float:left;
}
.drivecontrols {
	margin-left:auto;
	margin-right:auto;
}
