.rrfeed {
	width:100%;
	max-width:640px;
	height:auto;
}
.earthfeed {
	width:100%;
	max-width:640px;
	height:auto;
}
.feeds {
	border-radius:10px;
	background-color:#111111;
	width:45%;
	max-width:640px;
	height:auto;
	float:left;
	padding:20px;
}
.border {
	width:20px;
	height:100%;
	float:left;
}
.right {
	float:right;
	width:48%;
}
.logbook {
	background-color:#111111;
	border-radius:10px;
	padding:5px 20px 20px;
	height:auto;
	width:100%;
	float:right;
}
.text {
	color:white;
}
.head {
	color:white;
}
.controls {
	height:50%;
	width:auto;
	margin:auto;
}
.drivecontrols {
	margin-left:auto;
	margin-right:auto;
}
