#header {
    background-color:#660000;
    text-align:center;
    padding:5px;
}
#headline {
    color:white;
}
#subhead {
    color:#FFCC99;
}
#nav {
    line-height:30px;
    background-color:black;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#navlink a{
    color:#000000;
    text-decoration:none;
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
